.title {
	display: block;
	margin: 0 auto;
}

body {
	width: 50%;
	margin: 0px auto;
	font-family: "Helvetica", "Arial", sans-serif;
	background-color: black;
	background-image: url("../images/background.gif");
	background-size: cover;
	color: white;
}

main {
	background-color: black;
	opacity: 0.8;
	padding: 20px;
}

.description {
	line-height: 1.7;
}

.user-input {
	width: 40%;
	margin: 40px auto;
}

.input-range {
	width: 30%;
}

.input-field {
	width: 12%;
}

.button {
	display: block;
	margin: 30 auto;	
	padding: 15px 60px;
	border: none;
	border-radius: 4px;
	transition-duration: 0.4s;	
	background-color: #008F11; /* Dark Green */
	color: black;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
}

.button:hover {
	background-color: #00FF41; /* Light Green */
	color: black;
}